services:
  wppconnect:
    restart: unless-stopped
    deploy:
      restart_policy:
        condition: any
        delay: 15s
        window: 120s
      resources:
        limits:
          cpus: '4'
          memory: 4G
    networks:
      - easypanel_net
    build:
      context: .
    env_file:
      - .env
    volumes:
      - wppconnect_tokens:/usr/src/wpp-server/tokens
      - wppconnect_userdata:/usr/src/wpp-server/userDataDir
      - wpp_logs:/usr/src/wpp-server/logs
    stop_grace_period: 30s
volumes:
  wppconnect_tokens:
    driver: local
  wppconnect_userdata:
    driver: local
  wpp_logs:
    driver: local

networks:
  easypanel_net:
    external: true
    name: easypanel-apps