services:
  wppconnect:
    container_name: wpp-server
    restart: unless-stopped
    build:
      context: .
    env_file:
      - .env
    ports:
      - "21465:21465"
    volumes:
      - ./wppconnect_tokens:/usr/src/wpp-server/tokens
      - ${CUSTOM_USER_DATA_DIR}:/usr/src/wpp-server/userDataDir
  # mongo:
  #   image: mongo:latest
  #   container_name: wpp-mongo
  #   restart: unless-stopped
  #   volumes:
  #     - mongo_data:/data/db

  redis:
    image: redis:latest
    container_name: wpp-redis
    restart: unless-stopped
    command: redis-server --requirepass ${DB_REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  wppconnect_tokens: {}
  # mongo_data: {}
  redis_data: {}
