services:
  wppconnect:
    container_name: wpp-server
    restart: unless-stopped
    build:
      context: .
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 6GB
          cpus: 4
    volumes:
      - ./wppconnect_tokens:/usr/src/wpp-server/tokens
      - ./wppconnect_userdata:/usr/src/wpp-server/userDataDir
  # mongo:
  #   image: mongo:latest
  #   container_name: wpp-mongo
  #   restart: unless-stopped
  #   volumes:
  #     - mongo_data:/data/db

  # redis:
  #   image: redis:latest
  #   container_name: wpp-redis
  #   restart: unless-stopped
  #   volumes:
  #     - redis_data:/data

volumes:
  wppconnect_tokens: {}
  # mongo_data: {}
  # redis_data: {}
