services:
  wppconnect:
    container_name: wpp-server
    restart: unless-stopped
    build:
      context: .
    env_file:
      - .env
    ports:
      - "21465:21465"
    volumes:
      - wppconnect_tokens:/usr/src/wpp-server/tokens
      - wppconnect_userdata:/usr/src/wpp-server/userDataDir
      - wpp_logs:/usr/src/wpp-server/logs
    # depends_on:
    #   - wpp-redis
    stop_grace_period: 30s
    
  # wpp-redis:
  #   image: redis:7-alpine
  #   container_name: wpp-redis
  #   restart: unless-stopped
  #   command: redis-server --requirepass ${DB_REDIS_PASSWORD} --appendonly yes
  #   ports:
  #     - "127.0.0.1:6379:6379"
  #   volumes:
  #     - redis_data:/data
volumes:
  wppconnect_tokens:
    driver: local
  wppconnect_userdata:
    driver: local
  wpp_logs:
    driver: local
  # redis_data:
  #   driver: local